body {
    background-color: rgb(0, 54, 92);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.navbar {
    background-color: rgb(220, 0, 106);
    padding: 5px;
    margin-top: -15px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    height: 100px;
    justify-content: space-between;
}

